body{
    background-color: aqua;
}
p{
    font-size: 24px;
}
.p1{
    color: brown;
    background-color: blueviolet;
}
.p2{
font-family: "Georgia", serif;
}
.p3{

}
.p4{
    
}
.p5{
    
}
.p6{
    
}
.p7{
    
}
.p8{
    
}
.p9{
    
}
.p10{
    
}
.p11{
    
}
.p12{
    
}
.p13{
    
}
.p14{
    
}
.p15{
    
}